<header>
    <div id="header-text">
        <!-- Container to hold left side of header-->
        <div id="header-left">
            <!--Container to manipulate logo-->
            <div class="logo-container">
                 <h1>Flexagram</h1>
            </div>
        </div>
        <!--Container to hold right elements-->
        <div id = "header-right">
             <a href="#" id="username">{{user.get('username')}}</a>
             <a href="#" id="signout">Sign out</a>
        </div>
    </div>
 </header>