<!doctype html>
<html lang="en">
<head>
    <title>Photo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/sarah-css.css">

    <!-- client-side scripts -->
    <script lang="text/javascript" src="/static/js/hw04.js" defer></script>
</head>
<body>
    <!-- Nav Bar still rendered via server-side template -->
    {% include 'includes/navbar.html'  %}

    <aside>
        <header>
            <!-- user profile rendered client-side -->
        </header>
        <div class="suggestions">
            <p class="suggestion-text">Suggestions for you</p>
            <div>
                <!-- Suggestions rendered client-side -->
                <p>TBD</p>
            </div>
        </div>
    </aside>

    <main class="content">
        
        <header class="stories">
            <!-- Stories rendered client-side (done for you)-->
        </header>

        <!-- Posts -->
        <div id="posts">
            <!-- Posts rendered client-side -->
            <p>TBD</p>
        </div>

    </main>

</body>
</html>