<!doctype html>
<html>
<head>
    <title>Starter Template</title>
    <link rel="stylesheet" href="/static/starter_styles.css">
</head>
<body>
    <h1>Starter Template</h1>

    <h2>1. Current User: {{ user.get('username') }}</h2>
    <pre>{{ user }}</pre>

    <h2>2. Suggestions</h2>
    <p><strong>First Suggestion:</strong> {{ suggestions[0].get('username') }}</p>
    <pre>{{ suggestions }}</pre>

    <h2>3. Stories</h2>
    <p><strong>Title of first story:</strong> {{ stories[0].get('title') }}</p>
    <pre>{{ stories }}</pre>

    <h2>4. Posts</h2>
    <p><strong>Image from first post:</strong></p>
    <img src=" {{ posts[0].get('image_url') }}" />
    <p>
        <strong>First comment from first post:</strong>
        {% if posts[0].comments|length > 0 %}
            {{ posts[0].comments[0].text }}
        {% else %}
            The first post doesn't have a comment.
        {% endif %}
    </p>
    <pre>{{ posts }}</pre>
</body>
</html>